<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entregas.My.MySettings.SupermercadoConnectionString"
            connectionString="Data Source=190.13.151.171;Initial Catalog=Supermercado;User ID=wikets"
            providerName="System.Data.SqlClient" />
        <add name="Entregas.My.MySettings.SupermercadoConnectionString1"
            connectionString="Data Source=200.111.233.250;Initial Catalog=Supermercado;User ID=wikets"
            providerName="System.Data.SqlClient" />
        <add name="Entregas.My.MySettings.SupermercadoConnectionString2"
            connectionString="Data Source=wikets.no-ip.info\SQL2008;Initial Catalog=Supermercado;User ID=wikets"
            providerName="System.Data.SqlClient" />
        <add name="Entregas.My.MySettings.SupermercadoConnectionString3"
            connectionString="Data Source=200.111.233.250;Initial Catalog=Supermercado;Persist Security Info=True;User ID=wikets"
            providerName="System.Data.SqlClient" />
        <add name="Entregas.My.MySettings.SupermercadoConnectionString4"
            connectionString="Data Source=wikets.no-ip.info\SQL2008;Initial Catalog=Supermercado;Persist Security Info=True;User ID=wikets"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>